
@{
    ViewBag.Title = "ForgotPassword";
}

<h2>Forgot Password</h2>

<div class="container">
    <form action="SendResetEmail" method="post" oninput="validateInput();">
        <div class="form-group">
            <label for="email">Please enter your Email:</label>
            <input type="text" class="form-control" id="email" name="Email" placeholder="Email">
        </div>
        <div>
          <p>You will recieve an email on the email you entered above to reset your password</p>  
        </div>
        <button type="submit" id="login" class="btn btn-default" formmethod="post" disabled="">Send Email</button>
    </form>
</div>

<script>
    function validateInput() {
        var ins = document.getElementsByTagName("input");
        var pass = true;

        for (var j = 0; j < ins.length; j++) {
            if (ins[j].value == "")
                pass = false;
        };

        if (pass) document.getElementById("login").removeAttribute("disabled");
        else {
            var att = document.createAttribute("disabled");
            document.getElementById("login").setAttributeNode(att);
        }
    };
</script>

