
@{
    ViewBag.Title = "LoginFail";
    Layout = "~/Views/Shared/_LayoutX.cshtml";
}

<div class="jumbotron">
    <h1>Login</h1>
</div>

<!-- Login form -->
<div class="alert alert-danger" role="alert"> Wrong Email or Password</div>
<div class="container">
    <form action="LoginCheck2" method="post" oninput="validateInput();">
        <div class="form-group">
            <label for="email">Username or Email:</label>
            <input type="text" class="form-control" id="email" name="UsernameOrEmail" placeholder="Username or Email">
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" name="Password" id="pwd" placeholder="Password">
        </div>
        <button type="submit" id="login" class="btn btn-default" formmethod="post" disabled="">Login</button>
    </form>
</div>

<script>
    function validateInput() {
        var ins = document.getElementsByTagName("input");
        var pass = true;

        for (var j = 0; j < ins.length; j++) {
            if (ins[j].value == "")
                pass = false;
        };

        if (pass) document.getElementById("login").removeAttribute("disabled");
        else {
            var att = document.createAttribute("disabled");
            document.getElementById("login").setAttributeNode(att);
        }
    };
</script>