@{
    ViewBag.Title = "Post Added ";
}

<div class="container">
    <h2><b>Post Added Successfully !   </b><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></h2><br />
    <a href="~/Home/Index">Press here to go to home page</a>
</div>