
@{
    ViewBag.Title = "UpdateCourse";
    var list = ViewBag.list;
}

<div class="container"><h2><b>Update Course</b></h2><br /></div>

<div class="container">
    <form action="ModifyCourse" method="post">
        <div class="alert alert-info" role="alert"><b>Heads up!</b> Click on the course you would like to update</div>
        <div class="list-group" role="group" id="courses">
            <div class="form-group">
                <div class="well">
                    @foreach (var item in list)
                      {
                        <label class="radio-inline"><input type="radio" value="@item" name="Code">@item</label>
                      }
                </div>
            </div>

            <div class="form-group">
                <label for="Name">New Name: </label>
                <input type="text" class="form-control" id="name" name="Name" placeholder="New Name">
            </div>

            <br />
            <button class="btn btn-default" type="submit">Submit Changes</button>
        </div>
    </form>
</div>
