
@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Student Activity</h1>
    <p class="lead">Create Events and Manage them</p>
</div>

<div class="container">
    <div class="col-md-4">
        <h2>Add Event</h2>
        <p>
            This allows you to add a new event.
        </p>
        <p><a class="btn btn-default" href="~/SA/CreateEvent">Add Event &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Manage Event</h2>
        <p>
            This allows you to manage an existing event.
        </p>
        <p><a class="btn btn-default" href="~/SA/UpdateEvent">Manage Event &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Delete Event</h2>
        <p>
            This allows you to delete an existing event.
        </p>
        <p><a class="btn btn-default" href="~/SA/DeleteEvent">Delete Event &raquo;</a></p>
    </div>
</div>