
@{
    ViewBag.Title = "UpdateEvent";
    var list = ViewBag.list;
}

<script>
    function validateInput() {
        var ins = document.getElementsByTagName("input");
        var txs = document.getElementsByTagName("textarea");
        var pass = true;
        for (var j = 0; j < txs.length; j++) {
            if (txs[j].value == "")
                pass = false;
        };
        for (var j = 0; j < ins.length; j++) {
            if (ins[j].value == "")
                pass = false;
        };

        if (pass) document.getElementById("updateEvent").removeAttribute("disabled");
        else {
            var att = document.createAttribute("disabled");
            document.getElementById("updateEvent").setAttributeNode(att);
        }
    };
</script>

<div class="container"><h2><b>Update Event</b></h2><br /></div>
<div class="container">
    <form action="ModifyEvent" method="get" oninput="validateInput();">
        <div class="alert alert-info" role="alert"><b>Heads up!</b> Click on the event you would like to update</div>
        <div class="list-group" role="group" id="events">
            
            <div class="form-group">
                <div class="well">
                    @foreach (var item in list)
                    {
                        <label class="radio-inline"><input type="radio" value="@item" name="Ename">@item</label>
                    }
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">Primary Details:</div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="date">Date: </label>
                        <input type="text" class="form-control" id="date" name="Date" placeholder="Date">
                    </div>
                    <div class="form-group">
                        <label for="fee">Fee: </label>
                        <input type="text" class="form-control" id="fee" name="Fee" placeholder="Fee">
                    </div>
                    <div class="form-group">
                        <label for="Description">Description:</label>
                        <textarea class="form-control" id="desc" name="Description" placeholder="Describe the event here ..." style="min-width: 100%"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="Location">Location:</label>
                        <textarea class="form-control" id="loc" name="Location" placeholder="Location" style="min-width: 100%"></textarea>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-default" formmethod="get" id="updateEvent" disabled="">Submit</button>
        </div>
    </form>
</div>
