@{
    ViewBag.Title = "RegisterStudent";
    Layout = "~/Views/Shared/_LayoutX.cshtml";
}

<div class="jumbotron">
    <h1>Registration</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Student</h2>
        <p>
            Registering as a student enables you to enroll in course pages, post questions, answer questions, and rate answers. 
        </p>
        <p><a class="btn btn-default" href="~/Register/RegisterStudent">Register as Student &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Student Representative</h2>
        <p>
            Registering as a student representative enables you to create course pages and manage them.
        </p>
        <p><a class="btn btn-default" href="~/Register/RegisterSR">Register as SR &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Student Activity</h2>
        <p>
            Registering as a student activity enables you to post announcements.
        </p>
        <p><a class="btn btn-default" href="~/Register/RegisterSA">Register as SA &raquo;</a></p>
    </div>
</div>

<br />
<div class="progress">
    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%">
        <span class="sr-only">25% Complete (success)</span>
    </div>
</div>