
@{
    ViewBag.Title = "Pending";
}


<div class="container">
    <h2><b>Your Request is still Pending  </b><span>  </span>  <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span></h2><br />
    <a href="~/Home/Index">Press here to go to home page</a>
</div>
