
@{
    ViewBag.Title = "Rejected";
}


<div class="container">
    <h2><b>Your Request has been Rejected by the Admin  </b><span>  </span><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></h2><br />
    <a href="~/Home/Index">Press here to go to home page</a>
</div>
