@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutX.cshtml";
}

<div class="jumbotron">
    <h1>Contact</h1>
</div>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@CUFESF.com">Support@CUFESF.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@CUFESF.com">Marketing@CUFESF.com</a>
</address>