@{
    ViewBag.Title = "AnswerSuccess";
}

<div class="container">
    <h2><b>Answer has been sucessfully added  </b><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></h2><br />
    <a href="~/Home/Index">Press here to go to home page</a>
</div>
