

@{
    ViewBag.Title = "Enroll Failed";
    var list = ViewBag.list;
}

<div class="container"><h2><b>Choose Course</b></h2><br /></div>

<div class="container">
    <form action="ChooseCourse" method="post">
        <div class="alert alert-info" role="alert"><b>Heads up!</b> Click on the course you would like to enroll in</div>
        <div class="list-group" role="group" id="courses">
            <div class="form-group">
                <div class="well">
                    @foreach (var item in list)
                    {
                        <label class="radio-inline"><input type="radio" value="@item" name="Code">@item</label>
                    }
                </div>
            </div>

            <br />
            <button class="btn btn-default" type="submit">Enroll</button>
        </div>
    </form>
</div>


<br /><div class="alert alert-danger" role="alert"> You are already enrolled in this course ya 7ayawan</div>