
@{
    ViewBag.Title = "Index";
}



<div class="jumbotron">
    <h1>Student </h1>
    <p class="lead">Enroll in a course , post , answer and rate questions</p>
</div>

<div class="container">
    <div class="col-md-3">
        <h2>Enroll in a course</h2>
        <p>
            Choose a course to enroll in.
        </p>
        <p><a class="btn btn-default" href="/ST/Enroll">Enroll &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Post a question</h2>
        <p>
            Post a question in a course.
        </p>
        <p><a class="btn btn-default" href="/ST/ChooseCourseEnrolled">Add Question&raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>View Questions</h2>
        <p>
            View asked questions related to chosen course to answer/rate them.
        </p>
        <p><a class="btn btn-default" href="/ST/ChooseCourseToAnswerPost">View Questions &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>View Course Announcements</h2>
        <p>
            View announcements of a course you are enrolled in.
        </p>
        <p><a class="btn btn-default" href="~/ST/ChooseCourseToViewAnnouncements">View Course Announcements</a></p>
    </div>
</div>